.hero {
  min-height: 95vh;
  @include respond(laptop-lg) {
    min-height: 92vh;
  }
  @include respond(tab-sm) {
    min-height: 83vh;
  }
  display: flex;
  flex-direction: column;
  &__main {
    margin: 0 auto;
    padding: 15vh;
    @include respond(laptop-lg) {
      padding: 8vh;
    }
    @include respond(tab-sm) {
      padding: 3vh 0;
    }
  }
  &__title {
    font-family: $font-secondary;
    white-space: nowrap;
    font-size: 10rem;
    @include respond(tab-lg) {
      font-size: 11vw;
    }
    @include respond(phone-lg) {
      font-size: 15vw;
    }
    font-weight: 300;
    color: $color-primary;
  }
  &__text {
    &--top {
      font-size: 1.9rem;
      font-family: $font-primary;
      padding-top: 10vh;
      padding-bottom: 7vh;
      font-weight: 300;
    }
    &--bottom {
      margin-left: auto;
      @include respond(tab-lg) {
        margin-left: 0;
      }
      font-size: 1.9rem;
      padding-top: 7vh;
      font-family: $font-primary;
      font-weight: 300;
    }
  }
}

.hero__cta {
  text-align: center;
  position: relative;
  margin-bottom: 20rem;
  &--text {
    font-size: 1.5rem;
    font-family: $font-primary;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  &--line {
    border-left: 1px solid $color-black;
    height: 10rem;
    position: absolute;
    left: 50%;
    margin-left: -0.5px;
    top: 2rem;
  }
}
