.menu {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-family: $font-primary;
  font-size: 1.9rem;
  font-weight: 400;
  position: fixed;
  right: 4rem;
  top: 3rem;
  cursor: pointer;
  z-index: 9999;
  background-color: $color-primary;
  @include respond(tab-sm) {
    width: 100%;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    font-weight: 400;
    right: 0;
    top: 0;
    cursor: pointer;
  }
  a {
    @include respond(tab-sm) {
      display: flex;
      justify-content: center;
      padding: 1rem;
      width: 25%;
      border-bottom: 1px solid $color-black;
      border-right: 1px solid $color-black;
    }
  }
  a:last-of-type {
    @include respond(tab-sm) {
      border-right: none;
    }
  }
  a.active {
    font-weight: 900;
  }
  a:hover {
    color: $color-primary;
    @include respond(tab-sm) {
      color: $color-black;
    }
  }
}
