*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  @include respond(laptop-sm) {
    font-size: 55%;
  }
}

body {
  box-sizing: border-box;
  background-color: #f8f8ff;
  background-image: url('../images/background.png');
  font-family: $font-primary;
  line-height: 1.2;
  @include respond(tab-lg) {
    text-align: center;
  }
  @media only screen and (min-width: 1200px) {
    &::-webkit-scrollbar {
      width: 1em;
    }
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    &::-webkit-scrollbar-thumb {
      background-color: $color-primary;
      outline: 1px solid slategrey;
    }
  }
}

.app {
  position: relative;
  &__container {
    margin: 0 auto;
    max-width: 70vw;
    @include respond(laptop-lg) {
      max-width: 80vw;
    }
    @include respond(tab-sm) {
      max-width: 90vw;
    }
  }
}

.link,
.link:link,
.link:visited {
  text-decoration: none;
  color: $color-black;
  cursor: pointer;
}

.heading {
  font-family: $font-secondary;
  font-size: 5.5rem;
  font-weight: 300;
  color: $color-primary;
}

// background-image: url('https://www.transparenttextures.com/patterns/little-pluses.png'); background-image: url('https://www.transparenttextures.com/patterns/fabric-of-squares.png')
