@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin paragraphText {
  font-family: $font-para;
  font-weight: 300;
  line-height: 2.6rem;
  font-size: 1.7rem;
  @include respond(laptop-lg) {
    font-size: 1.8rem;
  }
  @include respond(tab-sm) {
    font-size: 2rem;
  }
}

@mixin centerTextContainer {
  margin: 0 auto;
  text-align: center;
  max-width: 60%;
  @include respond(laptop-lg) {
    max-width: 75%;
  }
  @include respond(tab-sm) {
    max-width: 90%;
  }
}

// 1em = 16px
@mixin respond($breakpoint) {
  @if $breakpoint==phone-sm {
    @media only screen and (max-width: 25em) {
      @content;
    } // 350px
  }
  @if $breakpoint==phone-lg {
    @media only screen and (max-width: 37.5em) {
      @content;
    } // 600px
  }
  @if $breakpoint==tab-sm {
    @media only screen and (max-width: 50em) {
      @content;
    } // 800px
  }
  @if $breakpoint==tab-lg {
    @media only screen and (max-width: 62.5em) {
      @content;
    } // 1000px
  }
  @if $breakpoint==laptop-sm {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }
  @if $breakpoint==laptop-lg {
    @media only screen and (max-width: 90em) {
      @content;
    } //1440px
  }
}
