////////////////////////////////////////////////////
// COLOR VARIABLES
////////////////////////////////////////////////////
$color-primary: #f7d708;
$color-black: #121420;
$color-white: #f8f8ff;
////////////////////////////////////////////////////
// FONT VARIABLES
////////////////////////////////////////////////////
$font-primary: 'Nunito Sans', sans-serif;
$font-secondary: 'HelloFather', sans-serif;
