*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html {
   font-size: 62.5%;
}

body {
   box-sizing: border-box;
   background-color: #f8f8ff;
   background-image: url('../images/natural-paper.png');
}

.app {
   &__container {
      margin: auto;
      max-width: 70vw;
   }
}

// ///// DEVELOPMENT //////
// .app__container {
//   border: 2px solid red;
// }