.btn,
.btn:link,
.btn:visited {
  color: $color-black;
  cursor: pointer;
  text-decoration: none;
}

.btn {
  &__primary {
    &--text {
      display: inline-block;
      color: $color-black;
      font-weight: 700 !important;
      font-size: 1.6rem;
      text-transform: uppercase;
      border-bottom: 5px solid $color-primary;
    }
  }
  &__link {
    display: inline-block;
    text-decoration: underline solid $color-primary !important;
  }
}
