.hero {
   min-height: 95vh;
   @include respond(laptop-lg) {
      min-height: 92vh;
   }
   display: flex;
   flex-direction: column;
   &__main {
      margin: 0 auto;
      padding: 15vh;
      @include respond(laptop-lg) {
         padding: 8vh;
      }
      @include respond(tab-sm) {
         padding: 3vh 0;
      }
   }
   &__title {
      font-family: $font-secondary;
      white-space: nowrap;
      font-size: 10rem;
      @include respond(tab-lg) {
         font-size: 11vw;
      }
      @include respond(phone-lg) {
         font-size: 15vw;
      }
      font-weight: 300;
      color: $color-primary;
   }
   &__text {
      &--top {
         font-size: 1.9rem;
         font-family: $font-primary;
         padding-top: 10vh;
         padding-bottom: 7vh;
         font-weight: 300;
      }
      &--bottom {
         margin-left: auto;
         @include respond(tab-lg) {
            margin-left: 0;
         }
         font-size: 1.9rem;
         padding-top: 7vh;
         font-family: $font-primary;
         font-weight: 300;
      }
   }
}

.hero__cta {
   text-align: center;
   position: relative;
   margin-bottom: 20rem;
   &--text {
      font-size: 1.5rem;
      font-family: $font-primary;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 2px;
   }
   &--line {
      border-left: 1px solid $color-black;
      height: 10rem;
      position: absolute;
      left: 50%;
      margin-left: -0.5px;
      top: 2rem;
   }
}

.featured {
   &__item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 18rem;
      @include respond(tab-lg) {
         flex-direction: column;
         margin-bottom: 10rem;
      }
   }
   &__text {
      align-self: center;
      font-family: $font-primary;
      margin-left: 5%;
      @include respond(tab-lg) {
         margin-left: 0;
         margin-bottom: 4rem;
      }
      h2 {
         font-size: 2.7rem;
         font-weight: 900;
         text-transform: uppercase;
         padding: 2rem 0 0.5rem 0;
      }
      h3 {
         font-size: 2rem;
         font-weight: 300;
      }
      p {
         font-size: 1.6rem;
         font-weight: 300;
      }
   }
   &__text:nth-of-type(2) {
      margin-right: 5% !important;
      @include respond(tab-lg) {
         margin-right: 0;
      }
      @include respond(tab-lg) {
         order: -1;
      }
   }
   &__img {
      flex-basis: 50%;
      @include respond(tab-lg) {
         width: 60vw;
         align-self: center;
      }
      @include respond(phone-sm) {
         width: 90vw;
      }
   }
   &__cta {
      padding-top: 2rem;
      @include respond(tab-lg) {
         display: flex;
         justify-content: space-evenly;
      }
      &--button {
         margin-right: 3.5rem;
         @include respond(tab-lg) {
            margin-right: 0;
         }
      }
   }
}

.skills {
   width: 100%;
   margin: 25rem 0 10rem 0;
   display: flex;
   flex-direction: column;
   &__table {
      display: flex;
      margin: 8rem auto;
      justify-content: center;
   }
   &__col {
      display: flex;
      margin-left: 5rem;
      flex-direction: column;
   }
   &__item {
      padding: 0.7rem;
      font-size: 1.8rem;
      font-weight: 900;
   }
}

.about {
   &__container {
      display: flex;
      justify-content: space-between;
      margin-top: 8rem;
      @include respond(tab-lg) {
         flex-direction: column;
      }
   }
   &__text {
      flex-basis: 50%;
      font-size: 2rem;
      font-weight: 300;
      line-height: 1.9;
      &-section {
         margin-bottom: 4.5rem;
      }
      @include respond(tab-lg) {
         text-align: left !important;
      }
   }
   &__img {
      flex-basis: 50%;
      max-width: 46rem;
      @include respond(tab-lg) {
         width: 85vw;
         align-self: center;
      }
   }
   &__resume-btn {
      display: block !important;
      text-align: center;
      margin-top: 10rem;
   }
}

.contact {
   min-height: 70vh;
   margin-top: 20vh;
   @include respond(tab-lg) {
      min-height: 50vh;
   }
   &__text {
      font-size: 3rem;
      font-weight: 300;
      font-style: italic;
      text-align: center;
   }
   &__email {
      font-size: 7rem;
      font-family: $font-secondary;
      color: $color-primary;
      font-weight: 300;
      text-align: center;
      margin: 5rem 0;
      a {
         text-decoration: none;
      }
   }
   &__link {
      font-size: 1.6rem;
      padding: 2rem;
   }
}

footer {
   text-align: center;
}