@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@font-face {
  font-family: 'HelloFather';
  src: url('../fonts/HelloFather.woff2') format('woff2'),
    url('../fonts/HelloFather.woff') format('woff'),
    url('../fonts/HelloFather.ttf') format('truetype');
}

@import './variables';
@import './mixins';
@import './base';
@import './home';
